@use './src/scss/abstract/' as *;
@use './src/scss/layout/' as layout;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  margin: 0;
}

html {
  color: $black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h3 {
  @include font-header-standart;
}

h4 {
  @include font-header-small;
}

h5 {
  @include font-text-standart;
}

button {
  cursor: pointer;
}

.main {
  overflow: hidden;
  margin-top: -11px;
}

.container {
  position: relative;
  margin: auto;
  z-index: 1;

  &-flex {
    @include flex-standard;
  }

  &-standart {
    max-width: 1415px;
    width: 75%;
  }
}

.title {
  font-family: $font-family-main;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  
  &-standart {
    font-size: 52px;
    line-height: 1.2;
    margin: 0;
  }

  &-banner {
    color: $white;
    font-size: 158px;
    line-height: 0.87;
    margin-block: 0 30px;
  }

  &-mini {
    color: $black;
    @include font-text-standart;
    text-transform: capitalize;
    display: flex;
    gap: $gap-mini;
    margin-block: 0 22px;

    &::before {
      content: "—";
      color: $accent;
    }
  }

  &-accent {
    @include font-header-standart;
  }

  &-card {
    text-align: center;
    @include font-header-small;
  }
}

.subtitle {
  font-family: $font-family-second;

  &-banner {
    @include font-header-small;
    color: $standart-light;
    margin-block: 0 54px;
  }

  &-standart {
    @include font-text-standart;
    color: $standart;
  }

  &-list {
    @include font-text-standart;

    &::before {
      content: "+";
      margin-right: 4px;
    }
  }

  &-accent {
    margin: 0;
    font-family: $font-family-main;
    font-weight: 600;
    @include font-text-standart;
  }
}

.bg {
  width: fit-content;

  &-title {
    background-color: $black;
    padding-block: 18px;
    padding-inline: 26px;
  }

  &-subtitle {
    background-color: $accent;
    padding-block: 5px;
    padding-inline: 16px;
  }
}

.margin-standart {
  margin-block: 10px 55px;
}

.headers-centered {
  @include flex-column;
  align-items: center;
  margin-inline: auto;
}

.decor {
  position: absolute;
}

.logo {
  &__wrapper {
    display: flex;
    align-items: center;
    color: $white;
  }

  &__text {
    padding-left: 7px;
  }

  &__desc {
    font-family: $font-family-second;
    font-size: $font-text-small;
    font-weight: 400;
    margin-block: 0 10px;
  }

  &__title {
    font-family: $font-family-main;
    @include font-header-standart;
    font-style: normal;
    font-weight: 600;
    margin: 0;
  }
}

.btn {
  @include animation-all(0.3s);
  @include font-text-standart;
  font-family: $font-family-main;
  font-weight: 600;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 35px;

  &-primary {
    border: $border-thin $accent;
    background-color: $accent;
    color: $white;

    &:hover {
      background-color: $black;
      border: $border-thin $white;
    }
  }

  &-secondary {
    border: $border-thin $black;
    background-color: transparent;
    color: $black;

    &:hover {
      background-color: $accent;
      border: $border-thin $accent;
    }
  }

  &-switch {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    border: $border-thin $standart-transp;
    background-color: $white;

    &:hover, &.active {
      background-color: $accent;
      border: $border-thin $accent;
      color: $white;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: $accent; 
        transform: rotate(45deg);
        margin-inline: auto;
        width: 20px;
        height: 20px;
        z-index: -1;
      }
    }
  }

  &-play {
    @include absolute-filler;
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: $accent;
    border-radius: $border-circle;
    margin: auto;
    border: 0;
    font-size: 38px;
    color: $white;
    z-index: 2;
  }

  &-primary::after, &-secondary::after, &-thin::after {
    content: "\2197";
    font-size: 24px;
    line-height: 1;
  }

  &-link {
    padding: 0;

    &::after {
      content: "\27F6";
    }
  }
}

.arrows {
  @include flex-standard;
  width: fit-content;
  gap: 28px;
}

.arrow {
  line-height: 0;
  border: 0;
  font-size: 40px;
  padding: 0;
  background-color: transparent;

  &:hover {
    color: $accent;
  }
}

.slider__content {
  @include absolute-filler;
  @include flex-column;
  justify-content: end;
  padding: 25px;
  gap: $gap-standart;
  color: $white;
  cursor: pointer;
  z-index: 1;
}

.decorated, .decorated-right, .decorated-left, .decorated-about {
  position: relative;
}

.decorated {
  &::before, &-right::after, &::after, &-left::before {
    content: url('assets/svg/Architecture.svg');
    position: absolute;
  }

  &::before, &-right::after {
    right: -100px;
  }

  &-about::after {
    top: 92%;
  }

  &::after, &-left::before {
    transform: scaleX(-1);
    left: -100px;
  }

  &-left::before {
    top: 46%;
  }
}