@use './src/scss/abstract/' as *;
@use './src/scss/layout/' as layout;

@font-face {
  font-family: Jost;
  src: url(assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  margin: 0;
}

html {
  font-size: 10px;
  color: $black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

button {
  cursor: pointer;
}

.main {
  overflow: hidden;
  margin-top: -11px;
}

.container {
  position: relative;
  margin: auto;
  z-index: 1;

  &-flex {
    @include flex-standard;
  }

  &-banner {
    max-width: 1735px;
    width: 85%;
  }

  &-standart {
    max-width: 1415px;
    width: 75%;
  }
}

.title {
  font-family: "Jost";
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  
  &-standart {
    font-size: 52px;
    line-height: 62px;
    margin: 0;
  }

  &-banner {
    color: $white;
    font-size: 158px;
    line-height: 138px;
    margin-block: 0 30px;
  }

  &-mini {
    color: $black;
    font-size: 16px;
    line-height: 26px; 
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    margin-block: 0 22px;

    &::before {
      content: "—";
      color: $accent;
    }
  }

  &-accent {
    font-size: 32px;
    line-height: 42px;
  }

  &-card {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
  }
}

.subtitle {
  font-family: "Barlow";

  &-banner {
    font-size: 24px;
    line-height: 36px;
    color: $standart-light;
    margin-block: 0 54px;
  }

  &-standart {
    font-size: 16px;
    line-height: 26px;
    color: $standart;
  }

  &-list {
    font-size: 16px;
    line-height: 26px;

    &::before {
      content: "+";
      margin-right: 4px;
    }
  }

  &-accent {
    margin: 0;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.bg {
  width: fit-content;

  &-title {
    background-color: $black;
    padding-block: 18px;
    padding-inline: 26px;
  }

  &-subtitle {
    background-color: $accent;
    padding-block: 5px;
    padding-inline: 16px;
  }
}

.margin-standart {
  margin-block: 10px 55px;
}

.headers-centered {
  @include flex-column;
  align-items: center;
  margin-inline: auto;
}

.decor {
  position: absolute;
}

.logo {
  &__wrapper {
    display: flex;
    align-items: center;
    color: $white;
  }

  &__text {
    padding-left: 7px;
  }

  &__desc {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    margin-block: 0 10px;
  }

  &__title {
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
  }
}

.btn {
  @include animation-all(0.3s);
  font-family: "Jost";
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 25px 38px;
  cursor: pointer;

  &-primary {
    border: 1px solid $accent;
    background-color: $accent;
    color: $white;

    &:hover {
      background-color: $black;
      border: 1px solid $white;
    }
  }

  &-secondary {
    border: 1px solid $black;
    background-color: transparent;

    &:hover {
      background-color: $accent;
    }
  }

  &-switch {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    border: 1px solid $standart-transp;
    background-color: $white;

    &:hover, &.active {
      background-color: $accent;
      border: 1px solid $accent;
      color: $white;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: $accent; 
        transform: rotate(45deg);
        margin-inline: auto;
        width: 20px;
        height: 20px;
        z-index: -1;
      }
    }
  }

  &-play {
    @include absolute-filler;
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: $accent;
    border-radius: 50%;
    margin: auto;
    border: 0;
    font-size: 38px;
    color: $white;
    z-index: 2;
  }

  &-thin {
    padding: 17px 35px;
  }

  &-primary::after, &-secondary::after, &-thin::after {
    content: "\2197";
    font-size: 26px;
  }

  &-link {
    padding: 0;

    &::after {
      content: "\27F6";
    }
  }
}

.link-accent {
  color: $accent;

  &:hover {
    color: $black;
  }
}

.arrows {
  @include flex-standard;
  width: fit-content;
  gap: 28px;

  &-about {
    margin-top: 54px;
    margin-inline: auto;
  }

  &-projects {
    margin-bottom: 20px;
  }
}

.arrow {
  line-height: 0;
  cursor: pointer;
  border: none;
  font-size: 40px;
  padding: 0;
  background-color: transparent;

  &:hover {
    color: $accent;
  }
}

.slider__content {
  @include absolute-filler;
  @include flex-column;
  justify-content: end;
  padding: 25px;
  gap: 25px;
  color: $white;
  cursor: pointer;
  z-index: 1;
}

.decorated {
  position: relative;

  &::before {
    content: url('assets/svg/Architecture.svg');
    position: absolute;
    //visibility: hidden;
    //right: -510px;
    //right: -312px;
    right: -100px;
    transition: all 0.35s ease;
  }

  // &.active::before {
  //   visibility: visible;
  //   right: -312px;
  // }

  &::after {
    content: url('assets/svg/Architecture.svg');
    position: absolute;
    transform: scaleX(-1);
    //visibility: hidden;
    //left: -510px;
    //left: -312px;
    left: -100px;
    transition: all 0.35s ease;
  }
}

// old stuff
.btn p {
  margin: 0;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 600;
}

.main article,
.block__margin {
  width: 129.6rem;
  margin: 0 auto;
  position: relative;
}

.right::before {
  content: url('assets/svg/Architecture.svg');
  position: absolute;
  visibility: hidden;
  right: -51rem;
  transition: all 0.35s ease;
}
.right.active::before {
  visibility: visible;
  right: -31.2rem;
}

.left::after {
  content: url('assets/svg/Architecture.svg');
  position: absolute;
  visibility: hidden;
  left: -51.2rem;
  top: 0;
  transition: all 0.35s ease;
}
.left.active::after {
  visibility: visible;
  left: -31.2rem;
}
