@import 'styles/normalize/normalize';
@import 'src/latest_service/style.scss';

@font-face {
  font-family: Jost;
  src: url(assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

.helloWorld {
  background-color: red;
}

html{
  font-size: 10px;
}