.about {
  margin-block: 160px;

  &__text {
    @include flex-standard;
    gap: 174px;
  }

  &__additional {
    @include flex-column;
    justify-content: space-between;
  }

  &__sliders {
    margin-top: 86px;
    @include flex-standard;
    gap: 25px;
  }

  &__item {
    height: 360px;
    width: 33%;
    @include background;
    position: relative;

    &::after {
      content: "";
      @include absolute-filler;
      background: linear-gradient(
        180deg,
        #05000000 0%,
        #0E0E0E 100%
      );
    }
  }
}

#about {
  &-1 {
    background-image: url('/assets/img/about1.webp');
  }

  &-2 {
    background-image: url('/assets/img/about2.webp');
  }

  &-3 {
    background-image: url('/assets/img/about3.webp');
  }
}

.subtitle-button {
  font-family: "Jost";
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.button__wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}