.about {
  &--block {
    margin-top: 14.6rem;
    @include flex-standard;
    align-items: center;
    gap: 17.4rem;
  }

  &-1 {
    background-image: url('/assets/img/about1.webp');
  }

  &-2 {
    background-image: url('/assets/img/about2.webp');
  }

  &-3 {
    background-image: url('/assets/img/about3.webp');
  }
}

.block {
  &-wrapper:last-child {
    padding-right: 8.7em;
  }

  &-button--wrapper {
    display: flex;
    align-items: center;
    margin-top: 2.3rem;
    gap: 2.4rem;
  }
}

.button-about {
  background-color: $orange;
  color: $white;
  border: none;
}

.text-42 {
  @include font-bold;
  font-size: 3.2rem;
  line-height: 4.2rem;
}

.about--pictures {
  margin-top: 6.7rem;
  height: 33.2rem;
  gap: 2.4rem;
}

.about--pictures .picture {
  @include background;
  width: calc(100% - 4.8rem);
  color: white;
}

.picture-description {
  &--wrapper {
    @include flex-column;
    flex-direction: column-reverse;
    padding: 2rem 3rem;
    background: #00000073;
    height: 100%;
    cursor: pointer;
  }

  &--list {
    @include animation(opacity);
    opacity: 0;
    list-style: none;
    padding: 0;
    color: $grey;
  }
}

.picture-description--characteristic::before {
  content: "+";
  margin-right: 0.4rem;
}

.arrows--about {
  margin-top: 5rem;
  margin-bottom: 15rem;
  margin-inline: auto;
}

.arrow {
  cursor: pointer;

  &-back {
    transform: rotate(180deg);
  }
}

.arrow:hover {
  color: $orange;
}