@use '../abstract/index.scss' as *;

.about {
  margin-bottom: $margin-section;

  &__text {
    margin-bottom: $margin-title;
    gap: 174px;
    @include flex-standard;
  }

  &__additional {
    justify-content: space-between;
    @include flex-column;
  }

  &__sliders {
    gap: $gap-standart;
    @include flex-standard;
  }

  &__item {
    height: 360px;
    width: 33%;
    position: relative;
    @include background;

    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        #05000000 0%,
        #0E0E0E 100%
      );
      @include absolute-filler;
    }
  }
}

.slider__list {
  opacity: 0;
  @include animation(opacity, 0.3s);
}

.subtitle-button {
  font-weight: 600;
  font-family: $font-family-main;
  @include font-header-standart;
}

.button__wrapper {
  display: flex;
  align-items: center;
  gap: $gap-standart;
}

.arrows-about {
  margin-top: 54px;
  margin-inline: auto;
}