@use '../abstract/index.scss' as *;

.about {
  margin-bottom: var(--margin-section);

  &__text {
    @include xxl {
      @include flex-standard;
      gap: 174px;
      margin-bottom: $margin-title;
    }

    @include xl {
      @include flex-column;
      justify-content: space-evenly;
      text-align: center;
    }
  }

  &__headers {
    @include xl {
      @include flex-column;
      align-items: center;
      text-align: center;
    }
  }

  &__additional {
    justify-content: space-between;
    @include flex-column;
  }

  &__sliders {
    gap: $gap-standart;
    @include flex-standard;
  }

  &__item {
    height: 360px;
    width: 33%;
    position: relative;
    @include background;

    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        #05000000 0%,
        #0E0E0E 100%
      );
      @include absolute-filler;
    }
  }

  &-slider {
    @include slider-content;

    &:hover .about-slider__list {
      opacity: 1;
      max-height: 100%;
      margin-top: 15px;

      & li {
        display: block;
      }
    }

    &__list {
      opacity: 0;
      max-height: 0;
      margin-top: 0;
      @include animation-all(0.3s);

      & li {
        display: none;
      }
    }
  }
}

.sliders__wrapper {
  @include xl {
    margin-top: $margin-mobile;
  }

  @include lg {
    display: none;
    margin-top: 0;
  }
}

.subtitle_button {
  font-weight: 600;
  font-family: $font-family-main;
  @include font-header-standart;
}

.button__wrapper {
  display: flex;

  @include xl {
    display: flex;
    justify-content: center;
    gap: $gap-standart;
  }

  @include sm {
    flex-direction: column-reverse;

    & .btn {
      width: 100%;
      @include flex-center;
    }
  }

  @include xxl {
    align-items: center;
    gap: $gap-standart;
  }
}

.arrows_about {
  margin-top: 54px;
  margin-inline: auto;
}