@use '../abstract/index.scss' as *;

.about {
  &__text {
    @include flex-standard;
    margin-bottom: $title-margin;
    gap: 174px;
  }

  &__additional {
    @include flex-column;
    justify-content: space-between;
  }

  &__sliders {
    @include flex-standard;
    gap: 25px;
  }

  &__item {
    height: 360px;
    width: 33%;
    @include background;
    position: relative;
    @include animation-all(0.3s);

    &::after {
      content: "";
      @include absolute-filler;
      background: linear-gradient(
        180deg,
        #05000000 0%,
        #0E0E0E 100%
      );
    }
  }
}

.subtitle-button {
  font-family: "Jost";
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.button__wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}