@use '../abstract/index.scss' as *;

.container_banner {
  display: flex;

  @include xxl {
    justify-content: space-between;
    max-width: 1735px;
    width: 85%;
    align-items: end;
  }

  @include xl {
    width: 90%;
    
    justify-content: space-between;
    align-items: end;
    gap: 50px;

    @media (max-height: 750px) {
      min-height: calc(100svh - 100px);
    }

    @media (min-height: 751px) {
      min-height: 70svh;
    }
  }

  @include lg {
    flex-direction: column;
    justify-content: center;
    height: calc(100svh + 10px);

    @include land {
      padding-top: 100px;
    }
  }
}

.banner {
  position: relative;
  background-color: $black;
  background-image: url(/img/ivan-bandura-nnY_e2zCVAc-unsplash-2.webp);

  &::before {
    @include gradient (180deg, 0%, 100%, #0e0e0e99, #0e0e0e);
  }

  &__text, &__image {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__text {
    @include xxl {
      width: 56%;
      padding-top: 230px;
      margin-bottom: 200px;
    }

    @include xl {
      margin-bottom: 150px;
    }

    @include lg {
      margin-bottom: 0;
    }
  }

  &-image {
    height: max-content;
    flex-shrink: 0;
    position: relative;
    display: flex;

    & img {
      width: 100%;
    }

    @include xxl {
      padding-top: 54px;
      width: 38%;
      margin-bottom: 76px;
    }

    @include xl {
      width: 38%;
      margin-bottom: 50px;
    }

    @include lg {
      display: none;
    }

    &__char {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.title_banner {
  color: $white;
  line-height: 0.87;

  @include xxl {
    font-size: 8.16vw;
  }

  @include xl {
    font-size: 70px;
  }

  @include lg {
    @include portr {
      font-size: 52px;
    }
    
    @include land {
      font-size: 50px;
    }
  }

  @include sm {
    margin-block: 0 10%;
  }
}

.subtitle_banner {
  color: $standart-light;
  @include font-header-small;

  @include xxl {
    margin-block: 30px 54px;
  }

  @include xl {
    margin-block: 30px;
  }

  @include lg {    
    @include land {
      margin-block: 20px;
    }
  }
}
