@use '../abstract/index.scss' as *;

.blog {
  margin-bottom: var(--margin-section);
  @include md {
    & .btn {
      width: 100%;
      @include flex-center;
    }
  }

  &__headers {
    @include xl {
      margin-bottom: $margin-mobile;
    }

    @include md {
      @include flex-column-center;
    }

    @include xxl {
      margin-bottom: 78px;
    }
  }

  &__body {
    @include flex-column;

    @include xl {
      gap: $gap-standart;
    }

    @include xxl {
      gap: 30px;
      margin-bottom: 42px;
    }
  }

  &__highlight {
    @include flex-standard;

    @include xl {
      gap: 20px;
    }

    @include md {
      flex-direction: row-reverse;
    }
  }

  &__news {
    display: grid;
    gap: $gap-standart;

    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md {
      grid-template-columns: repeat(1, 1fr);
    }

    @include xxl {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__btn {
    margin-inline: auto;

    @include xl {
      margin-top: $margin-mobile;
    }
  }
}

.highlight {
  &__text {
    @include xl {
      @include land {
        width: 40%;
      }
    }

    @include md {
      & .btn {
        display: none;
      }
    }

    @include xxl {
      width: 35%;
    }

    & > p {
      @include md {
        display: none;
      }

      @include xxl {
        width: 91%;
      }
    }

    & > .tags {
      @include xl {
        margin-bottom: 10px;
      }

      @include xxl {
        margin-bottom: 20px;
      }
    }
  }

  &__img-wrapper {
    position: relative;

    @include xxl {
      width: 49%;
    }

    @include xl {      
      width: 50%;
    }
  }

  &__img {
    object-fit: cover;
    background-color: $standart-light;
    cursor: pointer;

    @include xl {
      @include portr {
        height: 100px;
        aspect-ratio: 1 / 1;
      }

      @include land {
        width: 100%;
        height: 100%;
      }
    }

    @include xxl {
      height: 361px;
      width: 100%;
    }
  }

  //переделать через полигон
  &__date {
    position: absolute;
    user-select: none;
  
    @include xl {
      display: none;
    }

    @include xxl {
      top: 10px;
      left: -72px;
    }

    & > p {
      padding: 14px;
      @include font-header-small;
    } 
  }
}

.date__label {
  top: -10px;
  text-align: center;
  color: $white;
  @include absolute-filler;
  @include flex-center;
}

.tags {
  display: flex;
  gap: 16px;
  cursor: pointer;
  color: $standart;
  font-family: $font-family-second;

  @include md {
    font-size: 14px;
  }

  @include xxl {
    @include font-text-standart;
  }

  &__author, &__topic {
    display: flex;
    gap: $gap-mini;
  }

  &__author::before {
    content: "\2015";
  }

  &__topic::before {
    content: "\2022";
  }
}

.news-card {
  background-color: $white;
  cursor: pointer;

  @include xl {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include md {
    flex-direction: row;
    gap: 20px;

    & .btn {
      display: none;
    }
  }

  @include xxl {
    @include flex-column;
    justify-content: space-between;
    padding: 30px;
    gap: $gap-small;
    height: 100%;
    justify-content: start;
    border: $border-thin $standart-light;
  }

  &__text {
    @include flex-column;

    @include xl {
      gap: 10px;
    }

    @include xxl {
      gap: 20px;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__date {
    position: absolute;
    user-select: none;
    bottom: 24px;
    right: 10px;

    & > img {
      width: 73px;
    }

    & > p {
      padding: 6px;
      @include font-text-standart;
    }

    @include xl {
      display: none;
    }
  }

  &__img {
    object-fit: cover;
    background-color: $standart-light;

    @include xl {
      @include portr {
        height: 200px;
        aspect-ratio: 1 / 1;
      }
      
      @include land {
        width: 100%;
      }
    }

    @include md {
      height: 100px;
      width: 100px;
    }

    @include xxl {
      width: 100%;
      height: 300px;
    }
  }
}

@media (hover: hover) {
  .news-card:hover {
    box-shadow: $shadow;
  }
}