@use '../abstract/index.scss' as *;

.blog {
  margin-bottom: var(--margin-section);

  &__headers {
    margin-bottom: 78px;
  }

  &__body {
    gap: 30px;
    margin-bottom: 42px;
    @include flex-column;
  }

  &__highlight {
    @include flex-standard;
  }

  &__news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-standart;
  }

  &__btn {
    margin-inline: auto;
  }
}

.highlight {
  &__text {
    width: 35%;

    & > p {
      width: 91%;
    }

    & > .tags {
      margin-bottom: 20px;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 49%;
  }

  &__img {
    object-fit: cover;
    height: 361px;
    width: 100%;
    background-color: $standart-light;
    cursor: pointer;
  }

  //переделать через полигон
  &__date {
    position: absolute;
    user-select: none;
    top: 10px;
    left: -72px;

    & > p {
      padding: 14px;
      @include font-header-small;
    } 
  }
}

.date__label {
  @include absolute-filler;
  @include flex-center;
  & {
    top: -10px;
    text-align: center;
    color: $white;
  }
}

.tags {
  display: flex;
  gap: 16px;
  cursor: pointer;
  color: $standart;
  font-family: $font-family-second;
  @include font-text-standart;

  &__author, &__topic {
    display: flex;
    gap: $gap-mini;
  }

  &__author::before {
    content: "\2015";
  }

  &__topic::before {
    content: "\2022";
  }
}

.news-card {
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
  height: 100%;
  gap: $gap-small;
  border: $border-thin $standart-light;
  @include flex-column;

  &:hover {
    box-shadow: $shadow;
  }

  &__img-wrapper {
    position: relative;
  }

  &__date {
    position: absolute;
    user-select: none;
    bottom: 24px;
    right: 10px;

    & > img {
      width: 73px;
    }

    & > p {
      padding: 6px;
      @include font-text-standart;
    }
  }

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: $standart-light;
  }
}