@use '../abstract/index.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.footer {
  position: relative;
  background-color: $black;
  background-image: url("assets/svg/footer_picture.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @include sm {
    & .container {
      min-height: fit-content;
    }
  }
  
  &__container {
    padding-block: 238px 145px;
  }

  &__subscription {
    position: absolute;
    align-items: center;
    background-color: $accent;
    color: $white;
    width: 100%;
    overflow: hidden;
    @include flex-standard;

    @include sm {
      padding: 16px 26px;
    }

    @include xxl {
      padding: 56px 108px;
    }
  }

  &__body {
    color: $white;
    @include flex-standard;

    @include sm {
      flex-direction: column;
      text-align: center;
      padding-top: 120px;
    }
  }

  &__site-overview a {
    @include sm {
      justify-content: center;
    }
  }

  &__list {
    margin-top: 24px;
    gap: $gap-standart;
    @include flex-column;

    & a {
      color: $white;

      &:hover {
        color: $accent;
      }
    }
  }

  &__links, &__info {
    @include sm {
      display: none;
    }
  }
}

.subscription {
  &__title {
    width: 34%;

    @include sm {
      font-size: 16px;
    }
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;

    @include sm {
      width: 50%;
    }
    
    @include xxl {
      width: 32%;
    }

    &::before {
      content: "Newsletter";
      position: absolute;
      left: -135%;
      margin-block: auto;
      opacity: 0.1;
      font-family: $font-family-main;
      line-height: 1.1;
      font-weight: 600;

      @include sm {
        font-size: 56px;
      }

      @include xxl {
        font-size: 96px;
      }
    }

    &::after {
      content: "\2197";
      position: absolute;
      font-size: 18px;
      line-height: 1;
      padding: 8px 12px;
      color: $accent;
      background-color: $white;
      right: 0;
      top: 0;
      cursor: pointer;
    }

    & input {
      border: 0;
      border-bottom: $border-thin $white;
      background-color: transparent;
      font-family: $font-family-second;
      line-height: 1.7;
      padding: 0;
      width: 100%;
      color: $white;
      height: 45px;
      @include font-text-small;

      &::placeholder {
        color: $white;
        opacity: 0.6;
      }
  
      &:focus {
        border: 0;
        outline: 0;
        border-bottom: $border-thin $white;
      }
    }
  }
}

.logo-footer .logo__desc {
  opacity: 0.7;
}

.subtitle-footer {
  font-family: $font-family-second;
  color: $white;
  opacity: 0.7;
  @include font-text-standart;
}

.availability {
  @include xxl {
    margin-top: 50px;
  }

  &__dates {
    font-family: $font-family-second;
    margin-top: 5px;
    color: $accent;
    @include font-text-standart;
  }
}

.copyright {
  font-family: "DM Sans";
  height: 70px;
  color: #B7B7B7;
  background-color: $black;
  text-align: center;
  cursor: pointer;
  @include font-text-standart;

  & span {
    color: $white;
  }
}