@use '../abstract/index.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.footer {
  position: relative;
  background-color: $black;
  background-image: url("assets/svg/footer_picture.svg");
  background-repeat: no-repeat;
  background-size: contain;
  
  &__container {
    padding-block: 238px 145px;
  }

  &__subscription {
    position: absolute;
    @include flex-standard;
    align-items: center;
    background-color: $accent;
    padding: 56px 108px;
    color: $white;
    width: 100%;
    // посчитать в зависимости от высоты
    top: -92px;
    overflow: hidden;
  }

  &__body {
    @include flex-standard;
    color: $white;
  }

  &__list {
    margin-top: 24px;
    @include flex-column;
    gap: $gap-standart;

    & a {
      color: $white;

      &:hover {
        color: $accent;
      }
    }
  }
}

.subscription {
  &__title {
    width: 34%;
  }

  &__input {
    width: 32%;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "Newsletter";
      position: absolute;
      left: -135%;
      margin-block: auto;
      opacity: 0.1;
      font-family: "Jost";
      font-size: 96px;
      line-height: 106px;
      font-weight: 600;
    }

    &::after {
      content: "\2197";
      position: absolute;
      font-size: 18px;
      line-height: 1;
      padding: 8px 12px;
      color: $accent;
      background-color: $white;
      right: 0;
      top: 0;
      cursor: pointer;
    }

    & input {
      border: none;
      border-bottom: 1px solid $white;
      background-color: transparent;
      font-family: "Barlow";
      font-size: $font-text-small;
      line-height: 24px;
      padding: 0;
      width: 100%;
      color: $white;
      height: 45px;

      &::placeholder {
        color: $white;
        opacity: 0.6;
      }
  
      &:focus {
        border: 0;
        outline: 0;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.logo-footer .logo__desc {
  opacity: 0.7;
}

.subtitle-footer {
  font-family: "Barlow";
  @include font-text-standart;
  color: $white;
  opacity: 0.7;
}

.availability {
  margin-top: 50px;

  &__dates {
    font-family: "Barlow";
    @include font-text-standart;
    margin-top: 5px;
    color: $accent;
  }
}

.copyright {
  @include font-text-standart;
  font-family: "DM Sans";
  height: 70px;
  color: #B7B7B7;
  background-color: $black;
  text-align: center;
  cursor: pointer;

  & span {
    color: $white;
  }
}