@use '../abstract/index.scss' as *;

.header {
  font-family: $font-family-second;

  &__content {
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: calc($header-logo-width - 80px);
      height: 10px;
      background: #b1400c;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    }

    &-logo {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      background-color: $accent;
      height: calc(100% + 10px);
      width: $header-logo-width;
      z-index: 3;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }

    &-main {
      background-color: $black;
      width: 100%;
      z-index: 2;
    }
  }

  &__menu {
    margin-right: $header-margin;
    display: flex;
  }

  &__link {
    color: $standart-light;
    font-size: $font-text-small;
  }
}

.logo-header {
  margin-left: $header-margin;
}

.menu {
  &__textual {
    width: 100%;
  }

  &__phone {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: end;
    border-left: $border-thin $standart-transp;
  }

  &__burger {
    color: $white;
  }
}

.menu__burger, .burger__close {
  line-height: 1;
}

.burger__close {
  color: $white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.contacts {
  @include flex-standard;
  padding-inline: $header-main-padding;
  border-bottom: $border-thin $standart-transp;

  &__descriptions {
    display: flex;
    gap: 50px;
    padding: 19.5px 0 19.5px;
  }

  &__socials {
    @include flex-center;
    gap: $gap-small;
  }
}

.descriptions {
  &__item {
    @include flex-center;
    gap: $gap-mini;
  }
}

.socials__item {
  width: 13px;
  height: 13px;
}

.socials__item svg {
  width: 13px;
  height: 13px;
  opacity: 0.3;
  @include animation(opacity, 0.5s);
}

.navigation {
  color: white;
  font-weight: 600;

  &__anchors {
    display: flex;
  }
}

.anchors__link {
  position: relative;
  display: block;
  line-height: 1;
  color: $white;
}

.phone {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: $gap-mini;
  }

  &__data {
    width: max-content;
  }

  &__cta {
    margin-block: 0 5px;
  }

  &__number {
    @include font-text-standart;
    font-family: $font-family-main;
    margin: 0;
    font-weight: 600;
    color: $white;
  }
}

@media (hover: hover) {
  .socials__item svg:hover {
    opacity: 1;
  }

  .anchors__link:hover {
    color: $accent;
  }

  .anchors__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: $accent;
    height: 4px;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: $width-mobile) {
  .header {
    position: relative;

    &__menu {
      height: 100px;
      justify-content: end;
      align-items: center;
    }

    &__burger {
      position: absolute;
      padding: 15%;
      top: 0;
      right: -600px;
      height: 100vh;
      width: 100vw;
      @include flex-column;
      @include animation(right, 0.5s);
      align-items: center;
      justify-content: space-evenly;
      background-color: $black;
      z-index: 999;
    }
  }

  .menu {
    &__textual, &__phone {
      display: none;
    }
  }

  .logo {
    &__img {
      width: 60px;
    }
  }

  .navigation {
    width: 100%;
    font-size: 24px;

    &__anchors {
      @include flex-column;
      align-items: center;
      gap: 35px;
    }
  }

  .menu__burger, .burger__close {
    font-size: 44px;
  }
}

@media (min-width: $width-tablets-low) and (max-width: calc($width-tablets-large - 1px)) {

}

@media (min-width: $width-tablets-large) and (max-width: calc($width-desktop - 1px)) {

}

@media (min-width: $width-desktop) {
  .header {
    &__menu {
      justify-content: space-between;
    }

    &__burger {
      display: none;
    }
  }

  .menu__burger {
    display: none;
  }

  .navigation {
    display: flex;
    @include font-text-standart;
    padding-inline: $header-main-padding;
  
    &__anchors {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
    }
  }

  .anchors__link {
    padding-block: 35px;
  }

  .phone__wrapper {
    margin-left: 23px;
  }
}