@use '../abstract/index.scss' as *;

.header {
  font-family: $font-family-second;

  @include sm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @include xxl {
    position: static;
  }

  &__content {
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      //переделать
      width: calc(var(--header-logo-width) - 80px);
      height: 10px;
      background: #b1400c;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    }

    &_logo {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      background-color: $accent;
      height: calc(100% + 10px);
      width: var(--header-logo-width);
      z-index: 3;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }

    &_main {
      background-color: $black;
      width: 100%;
      z-index: 2;
    }
  }

  &__menu {
    display: flex;
    @include header-margin(margin-right);

    @include sm {
      height: 100px;
      justify-content: end;
      align-items: center;
    }

    @include xxl {
      justify-content: space-between;
    }
  }

  &__link {
    color: $standart-light;
    @include font-text-small;
  }

  &__burger {
    @include sm {
      position: fixed;
      padding: 15%;
      top: 0;
      right: -600px;
      height: 100vh;
      width: 100vw;
      @include flex-column;
      @include animation(right, 0.5s);
      align-items: center;
      justify-content: space-evenly;
      background-color: $black;
      z-index: 999;
    }

    @include xxl {
      display: none;
    }
  }
}

.logo_header {
  @include header-margin(margin-left);
}

.menu {
  &__textual {
    width: 100%;

    @include sm {
      display: none;
    }

    @include xxl {
      @include flex-column;
    }
  }

  &__phone {
    width: min-content;
    align-items: center;
    justify-content: end;
    border-left: $border-thin $standart-transp;

    @include sm {
      display: none;
    }

    @include xxl {
      display: flex;
    }
  }

  &__burger {
    color: $white;

    @include xxl {
      display: none;
    }
  }
}

.menu__burger, .burger__close {
  line-height: 1;

  @include sm {
    font-size: 44px;
  }
}

.burger__close {
  color: $white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.contacts {
  padding-inline: var(--header-main-padding);
  border-bottom: $border-thin $standart-transp;
  @include flex-standard;

  &__descriptions {
    display: flex;
    gap: 50px;
    padding: 19.5px 0 19.5px;
  }

  &__socials {
    gap: $gap-small;
    @include flex-center;
  }
}

.descriptions {
  &__item {
    gap: $gap-mini;
    @include flex-center;
  }
}

.socials__item {
  width: 13px;
  height: 13px;
}

.socials__item svg {
  width: 13px;
  height: 13px;
  opacity: 0.3;
  @include animation(opacity, 0.5s);
}

.navigation {
  color: white;
  font-weight: 600;

  @include sm {
    width: 100%;
    font-size: 24px;
  }

  @include xxl {
    display: flex;
    padding-inline: var(--header-main-padding);
    @include font-text-standart;
  }

  &__anchors {
    display: flex;

    @include sm {
      align-items: center;
      gap: 35px;
      @include flex-column;
    }

    @include xxl {
      flex-wrap: wrap;
      column-gap: 40px;
    }
  }
}

.anchors__link {
  position: relative;
  display: block;
  line-height: 1;
  color: $white;

  @include xxl {
    padding-block: 35px;
  }
}

.phone {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: $gap-mini;

    @include xxl {
      margin-left: 23px;
    }
  }

  &__data {
    width: max-content;
  }

  &__cta {
    margin-block: 0 5px;
  }

  &__number {
    font-family: $font-family-main;
    margin: 0;
    font-weight: 600;
    color: $white;
    @include font-text-standart;
  }
}

@media (hover: hover) {
  .socials__item svg:hover {
    opacity: 1;
  }

  .anchors__link:hover {
    color: $accent;
  }

  .anchors__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: $accent;
    height: 4px;
    left: 0;
    bottom: 0;
  }
}

.logo__img {
  @include sm {
    width: 60px;
  }
}
