@use '../abstract/index.scss' as *;

.map {
  @include xl {
    @include portr {
      height: 50vh;
    }
    
    @include land {
      height: 70vh;
    }
  }

  &__frame {
    width: 100%;
    height: 568px;
    filter: grayscale(1);
    border: 0;
  }
}
