@use '../abstract/index.scss' as *;

.prices {
  background-color: #F8F8F8;
  background-image: url("/assets/svg/image 15.svg");
  background-repeat: no-repeat;
  
  @include xxl {
    padding-block: 146px 262px;
    margin-bottom: $margin-thin;
  }

  &__headers {
    @include sm {
      @include flex-column-center;
      margin-bottom: 30px;
    }

    @include xxl {
      margin-bottom: 78px;
    }
  }

  &__table {
    display: grid;
    gap: $gap-standart;

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }

    @include xxl {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    position: relative;
    justify-content: space-between;
    border: $border-thin $standart-light;
    background-color: $white;
    cursor: pointer;
    @include flex-column;

    @include sm {
      padding: 28px;

      & .btn {
        width: 100%;
        @include flex-center;
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
      }
    }

    @include xxl {
      padding: 48px;
    }

    &.active::before {
      @include sm {
        border-top: 20px solid $accent;
      }

      @include xxl {
        border-top: 50px solid $accent;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 0; 
      height: 0; 
      transform: rotate(135deg);
      
      @include sm {
        top: -4px;
        left: -14px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $black;
      }

      @include xxl {
        top: -8px;
        left: -33px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid $black;
      }
    }
  }

  &__header {
    display: flex;
    align-items: end;
    font-weight: 600;
    gap: $gap-mini;

    &>h3, &>p {
      margin: 0;
    }

    &>p {
      font-family: $font-family-main;
      color: $standart;
      @include font-text-standart;
    }
  }

  &__tier {
    font-family: $font-family-second;
    display: flex;
    align-items: center;
    gap: $gap-small;
    @include font-text-standart;

    @include sm {
      margin-block: 0;
    }

    @include xxl {
      padding-bottom: 26px;
      border-bottom: $border-thin $standart-light;
      margin-block: 12px 26px;
    }

    &::before {
      content: "\2730";
      font-size: 28px;
      font-weight: 600;
      color: $accent;
    }
  }

  &__deal {
    font-family: $font-family-main;
    font-size: 16px;
    line-height: 2.25;
    list-style: inside;

    @include xxl {
      margin-bottom: 50px;
    }
  }
}

.inactive {
  color: $standart;
}

.label {
  font-family: $font-family-main;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 25px;
  border-radius: 100px;
  font-weight: 400;
  border: 0;
  color: $white;
  background-color: #39CA6E;
  cursor: default;
  @include font-text-standart;
}

@media (hover: hover) {
  .prices__item:hover {
    box-shadow: $shadow;
  }
}
