@use '../abstract/index.scss' as *;

.projects {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--margin-section);

  @include sm {
    min-height: 100vh;
  }
  
  &__text {
    @include sm {
      @include flex-column-center;
      gap: 20px;
      height: 35%;

      @media (max-height: 800px) {
        height: 50%;
      };
    }

    @include xxl {
      @include flex-standard;
      align-items: end;
      margin-bottom: $margin-title;
    }
  }

  &__headers {
    @include sm {
      @include flex-column-center;
    }
  }

  &__sliders {
    width: 100%;
    flex-wrap: nowrap;
    @include flex-standard;
    @include animation(left, 0.5s);

    @include sm {
      position: absolute;
      bottom: 0;
      height: 65%;

      @media (max-height: 800px) {
        height: 50%;
      };
    }

    @include xxl {
      position: relative;
      top: 0;
      left: 0;
      gap: $gap-standart;
    }
  }

  &__item {
    position: relative;
    @include background;

    @include sm {
      height: 100%;
      min-width: 100%;
    }

    @include xxl {
      height: 484px;
      min-width: 33%;
    }

    & .slider__content {
      opacity: 0;
      @include animation(opacity, 0.5s);
    }

    &.active .slider__content {
      opacity: 1;
    }
  }
}

.btn-slider {
  background-color: $accent;
  width: 60px;
  aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  font-size: 34px;
  color: $white;
  @include flex-center;

  @media (max-height: 800px) {
    width: 30px;
    font-size: 24px;
  };

  &__wrapper {
    margin: auto;
    background-color: #0d0d0d4d;
    width: 82px;
    aspect-ratio: 1 / 1;
    @include absolute-filler;
    @include flex-center;

    @media (max-height: 800px) {
      width: 42px;
    };
  }
}

.arrows-projects {
  @include sm {
    margin-top: $margin-mobile;
  }
}
