@use '../abstract/index.scss' as *;

.projects {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--margin-section);
  
  &__text {
    @include sm {
      @include flex-column-center;
      gap: 20px;
      height: 35%;
    }

    @include xxl {
      @include flex-standard;
      align-items: end;
      margin-bottom: $margin-title;
    }
  }

  &__headers {
    @include sm {
      @include flex-column-center;
    }
  }

  &__sliders {
    width: 100%;
    flex-wrap: nowrap;
    @include flex-standard;
    @include animation(left, 0.5s);

    @include sm {
      position: absolute;
      bottom: 0;
      height: 65%;
    }

    @include xxl {
      position: relative;
      top: 0;
      left: 0;
      gap: $gap-standart;
    }
  }

  &__item {
    position: relative;
    @include background;

    @include sm {
      height: 100%;
      min-width: 100%;
    }

    @include xxl {
      height: 484px;
      min-width: 33%;
    }

    & .slider__content {
      opacity: 0;
      @include animation(opacity, 0.3s);
    }
  }
}

.btn-slider {
  background-color: $accent;
  width: 60px;
  aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  font-size: 34px;
  color: $white;
  @include flex-center;

  &__wrapper {
    margin: auto;
    background-color: #0d0d0d4d;
    width: 82px;
    aspect-ratio: 1 / 1;
    @include absolute-filler;
    @include flex-center;
  }
}

.arrows-projects {
  @include sm {
    margin-top: 30px;
  }
}
