@use '../abstract/index.scss' as *;

.process{
  margin-bottom: var(--margin-section);

  & > .container {
    @include flex-column;
    justify-content: space-between;
    gap: $gap-standart;
  }

  &__headers {
    @include xl {
      text-align: center;
    }
    
    @include xxl {
      margin-bottom: 50px;
    }
  }

  &__tabs {
    @include xl {
      @include flex-column;
      gap: 15px;
    }

    @include xxl {
      @include flex-standard;
      margin-bottom: 90px;
      gap: $gap-standart;
    }
  }

  &__item {
    @include xl {
      width: 100%;

      & > .btn {
        font-size: 16px;
      }
    }
    
    @include xxl {
      width: 33%;
    }
  }

  &__video {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      background: #0e0e0e73;
      z-index: 1;
      @include absolute-filler;
    }
  }
}

.video {
  &__player {
    width: 100%;
    object-fit: cover;
    @include animation-all(0.5s);

    @include xxl {
      height: 540px;
    }
  }
}

.modal {
  &::backdrop {
    background: #0e0e0e73;
  }

  &[open] {
    border: 0;
    gap: $gap-small;
    @include flex-column;

    @include xl {
      padding: 10px;

      & > .btn {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        @include flex-center;

        @include lg {
          display: none;
        }
      }

      @include portr {
        width: 100%;
      }

      @include land {
        width: 75%;
      }
    }

    @include xxl {
      width: 60%;
      padding: 30px;
    }
  }

  &__video {
    width: 100%;
    aspect-ratio: 16 / 9;
    user-select: none;
  }

  &__close {
    margin: auto;
    background-color: transparent;

    &:hover {
      background-color: $accent;
    }
  }
}
