@use '../abstract/index.scss' as *;

.services {
  position: relative;
  margin-bottom: var(--margin-section);

  @include md {
    min-height: 100vh;
  }

  & > .container {
    @include xl {
      min-height: 60vh;
      gap: 60px;
    }

    @include lg {
      gap: 40px;
    }

    @include md {
      position: static;
    }
  }

  @include xxl {
    padding-top: 330px;
  }

  &__text {
    position: relative;

    @include xxl {
      width: 34%;
      margin-bottom: 80px;
    }

    @include xl {
      width: 50%;
      height: fit-content;
    }

    @include md {
      @media (max-height: 850px) {
        margin-bottom: 30vh;
      };
    }
  }

  & .subtitle_standart {
    @include md {
      color: $black;
      width: 60%;
    }
  }

  &__sliders {
    @include md {
      @include absolute-filler;
      width: 100%;
      z-index: -1;
    }

    @include xxl {
      display: flex;
      justify-content: end;
      gap: $gap-standart;
      width: 56%;
    }
  }

  &__item {
    @include background;
    @include animation(width, 0.5s);
    cursor: pointer;

    @include md {
      @include absolute-filler;
      width: 0;
      height: 100%;
    }

    @include xxl {
      width: 26%;
    }

    &.active {
      @include animation(width, 0.5s);
      color: $white;

      @include md {
        width: 100%;
      }

      @include xl {
        height: 100%;
      }

      @include xxl {
        width: 41%;
      }
    }
  }
}

.decor {
  pointer-events: none;

  @include xl {
    display: none;
  }

  &__crane {
    top: 0;
    left: 34px;
  }

  &__truck {
    top: -165px;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.backgroundIcon {
  position: absolute;

  @include xxl {
    right: -35px;
    bottom: -35px;
  }
  
  @include xl {
    right: 50px;
    bottom: -50px;
  }

  @include md {
    display: none;
  }
}

#services {
  &-1 {
    background-image: url('/img/latest1.webp');
    background-image: image-set(
      url("/img/latest1.webp") type("image/webp"), 
      url("/img/latest1.jpg") type("image/jpeg")
    );
    background-image: -webkit-image-set(
      url("/img/latest1.webp") type("image/webp"), 
      url("/img/latest1.jpg") type("image/jpeg")
    );
  }

  &-2 {
    background-image: url('/img/latest2.webp');
    background-image: image-set(
      url("/img/latest2.webp") type("image/webp"), 
      url("/img/latest2.jpg") type("image/jpeg")
    );
    background-image: -webkit-image-set(
      url("/img/latest2.webp") type("image/webp"), 
      url("/img/latest2.jpg") type("image/jpeg")
    );
  }

  &-3 {
    background-image: url('/img/latest3.webp');
    background-image: image-set(
      url("/img/latest3.webp") type("image/webp"), 
      url("/img/latest3.jpg") type("image/jpeg")
    );
    background-image: -webkit-image-set(
      url("/img/latest3.webp") type("image/webp"), 
      url("/img/latest3.jpg") type("image/jpeg")
    );
  }
}

.service {
  &__wrapper {
    height: 100%;
    padding: 25px;
    opacity: 0;
    @include animation-all(0.5s);
    @include flex-column;

    @include xxl {
      justify-content: space-between;
      background: linear-gradient(
        180deg,
      #05000000 0%,
      #0E0E0E 100%);
    }

    @include xl {
      justify-content: space-between;
      background: linear-gradient(
        180deg,
      #05000000 0%,
      #0E0E0E 100%);
    }

    @include lg {
      justify-content: end;
    }

    @include md {
      align-items: end;
      @include gradient(90deg, 20%, 100%, $white, #ffffff00);
    }

    & h4 {
      @include xxl {
        text-decoration: underline;
      }

      @include md {
        font-size: 40px;
        text-align: end;
        text-shadow: 2px 2px 4px #00000080;
      }
    }

    & p {
      color: $white;

      @include md {
        display: none;
      }
    }
  }

  &__headers {
    @include sm {
      width: 80%;
    }
  }

  &__icon {
    width: 95px;
    height: 74px;
    background-color: $white;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 85%);
    

    & img {
      width: 85%;
      height: 85%;
      padding: 8px 19px;
    }

    @include lg {
      display: none;
    }
  }
}
