@use '../abstract/index.scss' as *;

@mixin colored-plate {
  background-color: $accent;
  color: $white;
}

.status {
  margin-bottom: var(--margin-section);

  @include xl {
    background-color: #F8F8F8;
  }

  &__headers {
    align-items: center;
    @include flex-column;

    @include xl {
      text-align: center;
      margin-bottom: $margin-mobile;
    }

    @include xxl {
      margin-bottom: $margin-title;
    }
  }

  &__cards {
    display: grid;
    gap: 0;

    @include xxl {
      grid-template-columns: repeat(4, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: transparent;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    @include animation-all(0.3s);
    @include flex-column;

    @include xl {
      padding: 30px;

      &:nth-child(3n-1), &:nth-child(3n) {
        @include colored-plate;
      }
    }

    @include sm {
      padding: 25px;

      &:nth-child(even) {
        @include colored-plate;
      }

      &:nth-child(odd) {
        background-color: transparent;
        color: $black;
      }
    }

    @include xxl {
      padding: 60px;
    }
  }
}

@media (hover: hover) {
  .status__item:hover {
    @include colored-plate;
  }
}
