@use '../abstract/index.scss' as *;

.status {
  &__headers {
    @include flex-column;
    align-items: center;
    margin-bottom: $title-margin;
  }

  &__cards {
    @include flex-standard;
    gap: 0;
  }

  &__item {
    @include animation(background-color);
    @include animation(color);
    @include flex-column;
    background-color: transparent;
    padding: 60px;
    width: 25%;
    gap: 18px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}