@use '../abstract/index.scss' as *;

.status {
  margin-bottom: $margin-section;

  &__headers {
    @include flex-column;
    align-items: center;
    margin-bottom: $margin-title;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  &__item {
    @include animation(background-color, 0.5s);
    @include animation(color, 0.5s);
    @include flex-column;
    background-color: transparent;
    padding: 60px;
    gap: 18px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}