@use '../abstract/index.scss' as *;

.team {
  margin-bottom: $margin-thin;

  & > .container-flex {
    gap: 70px;
  }

  &__headers {
    width: 37%;
  }

  &__photo {
    background-color: $standart-light;
    object-fit: cover;
    width: 32%;
    height: 480px;
    cursor: pointer;
  }

  &__names {
    @include flex-column;
    justify-content: space-between;
    width: 31%;
  }
}

.names {
  &__item {
    @include flex-column;
    @include animation-all(0.5s);
    @include font-header-small;
    align-items: end;
    cursor: pointer;
    text-align: end;
    user-select: none;

    &.active {
      & > p:is(.names__name) {
        @include font-header-standart;
        @include animation-all(0.5s);
        color: $accent;
        text-decoration: underline;
      }
    }
  }

  &__name, &__role {
    margin: 0;
  }

  &__name {
    font-family: $font-family-main;
    font-weight: 600;
  }

  &__role {
    font-family: $font-family-second;
    color: $standart;
  }
}