@use '../abstract/index.scss' as *;

.team {
  @include xxl {
    margin-bottom: $margin-thin;
  }
  
  & .btn {
    @include xl {
      @include portr {
        width: 100%;
        @include flex-center;
      }
    }
  }

  & > .container_flex {
    @include xxl {
      gap: 70px;
    }

    @include xl {
      gap: $margin-mobile;

      @include portr {
        flex-direction: column;
      }
    }
  }

  &__headers {
    @include xxl {
      width: 37%;
    }

    @include xl {
      @include portr {
        width: 100%;

        & .btn {
          display: none;
        }
      }
      
      @include land {
        width: 33%;
      }
    }
  }

  .text__wrapper {
    @include xl {
      @include portr {
        @include flex-column-center;
      }
      
      @include land {
        @include flex-column;
      }
    }
  }

  &__photo {
    background-color: $standart-light;
    object-fit: cover;
    cursor: pointer;

    @include xl {
      @include land {
        width: 35%;
      }
      
      @include portr {
        width: 70%;
        margin-inline: auto;
      }
    }

    @include xxl {
      width: 32%;
      height: 480px;
    }
  }

  &__names {
    @include flex-column;
    justify-content: space-between;
    
    @include xxl {
      width: 31%;
    }

    @include xl {
      @include land {
        width: 20%;
      }
      
      @include portr {
        width: 100%;
        gap: 10px;
      }
    }
  }
}

.names {
  &__item {
    cursor: pointer;
    user-select: none;
    @include flex-column;
    @include animation-all(0.5s);
    @include font-header-small;

    @include xxl {
      align-items: end;
      text-align: end;
    }

    @include xl {
      @include land {
        align-items: end;
        text-align: end;
      }
      
      @include portr {
        text-align: center;
      }
    }

    &.active {
      & > p:is(.names__name) {
        color: $accent;
        text-decoration: underline;
        @include animation-all(0.5s);
        @include font-header-standart;
      }
    }
  }

  &__name, &__role {
    margin: 0;
  }

  &__name {
    font-family: $font-family-main;
    font-weight: 600;
  }

  &__role {
    font-family: $font-family-second;
    color: $standart;
  }
}
