@use '../abstract/index.scss' as *;

.team {
  & > .container-flex {
    gap: 70px;
  }

  &__headers {
    width: 37%;
  }

  &__photo {
    background-color: $standart-light;
    object-fit: cover;
    width: 32%;
    height: 480px;
    cursor: pointer;
  }

  &__names {
    @include flex-column;
    justify-content: space-between;
    width: 31%;
  }
}

.names {
  &__item {
    @include flex-column;
    @include animation-all(0.5s);
    align-items: end;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
    text-align: end;
    user-select: none;

    &.active {
      & > p:is(.names__name) {
        @include animation-all(0.5s);
        color: $accent;
        font-size: 32px;
        line-height: 42px;
        text-decoration: underline;
      }
    }
  }

  &__name, &__role {
    margin: 0;
  }

  &__name {
    font-family: "Jost";
    font-weight: 600;
  }

  &__role {
    font-family: "Barlow";
    color: $standart;
  }
}