@use '../abstract/index.scss' as *;

.testimonials {
  margin-bottom: var(--margin-section);

  @include xl {
    background-color: #F8F8F8;
  }

  &__headers {
    @include xl {
      @include flex-column-center;
      margin-bottom: $margin-mobile;
    }

    @include xxl {
      width: 51%;
    }
  }

  &__content {
    @include xl {
      text-align: center;
    }

    @include xxl {
      @include flex-standard;
      gap: 170px;
      border-bottom: $border-thin $standart-light;
    }
  }

  &__people {
    position: relative;
    gap: $gap-mini;
    margin-block: 30px;

    @include xl{
      @include flex-center;
    }

    @include xxl {
      border-left: $border-thin $standart;
      height: calc(100% - 60px);
      @include flex-column-center;
      padding-block: 5px;
      padding-left: 110px;

      &::before {
        content: "";
        position: absolute;
        top: var(--position);
        @include animation(top, 0.5s);
        left: -20px;
        background-color: $white;
        border-top: $border-thin $standart;
        border-right: $border-thin $standart;
        width: 40px;
        height: 40px;
        transform: skew(-45deg);
      }
    }
  }
}

.people {
  &__item {
    width: 70px;
    aspect-ratio: 1 / 1;
    background-color: $standart-light;
    border-radius: $border-circle;
    cursor: pointer;
    user-select: none;
    @include animation-all(0.5s);

    &.active {
      width: 110px;
      border: 2px solid $accent;
      @include animation-all(0.5s);
    }
  }

  &__portrait {
    border-radius: $border-circle;
    width: 100%;
    @include flex-center;
  }
}

.quote {
  font-family: $font-family-main;
  color: $standart;
  text-transform: capitalize;
  @include font-header-standart;

  @include xl {
    margin-block: 0 $margin-mobile;
  }

  @include xxl {
    margin-block: 0 50px;
  }

  &__bubble {
    @include xxl {
      padding-top: 60px;
      margin-bottom: -1px;
    }
  }

  &__citation {
    border-bottom: $border-thin $black;
    padding-bottom: 50px;
    display: flex;

    @include xl {
      justify-content: center;
      gap: 20px;
    }

    @include xxl {
      width: 55%;
      gap: 38px;
    }
  }

  &__img {
    @include xl {
      @include portr {
        width: 12%;
      }
      
      @include land {
        width: 6%;
      }
    }
  }

  &__person {
    & > p {
      margin: 0;
    }
  }

  &__name {
    font-family: $font-family-main;
    font-weight: 600;
    @include font-header-standart;
  }

  &__status {
    font-family: $font-family-second;
    color: $standart;
    @include font-header-small;
  }
}