@use '../abstract/index.scss' as *;

.testimonials {
  &__headers {
    width: 51%;
  }

  &__content {
    @include flex-standard;
    gap: 170px;
    border-bottom: 1px solid $lightgrey;
  }

  &__people {
    position: relative;
    border-left: 1px solid $grey;
    height: calc(100% - 60px);
    padding-block: 5px;
    padding-left: 110px;
    @include flex-column;
    align-items: center;
    gap: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      background-color: $white;
      border-top: 1px solid $grey;
      border-right: 1px solid $grey;
      width: 40px;
      height: 40px;
      transform: skew(-45deg);
    }
  }
}

.people {
  &__item {
    width: 70px;
    aspect-ratio: 1 / 1;
    background-color: $lightgrey;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      width: 110px;
      border: 2px solid $orange;
    }
  }

  &__portrait {
    @include flex-center;
    border-radius: 50%;
    width: 100%;
  }
}

.quote {
  font-family: "Jost";
  color: $grey;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  margin-block: 0 50px;

  &__bubble {
    padding-top: 60px;
    margin-bottom: -1px;
  }

  &__citation {
    display: flex;
    gap: 38px;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    width: 55%;
  }

  &__person {
    & > p {
      margin: 0;
    }
  }

  &__name {
    font-family: "Jost";
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
  }

  &__status {
    font-family: "Barlow";
    font-size: 24px;
    line-height: 32px;
    color: $grey;
  }
}