* {
  box-sizing: border-box;
}

// отступы от краев по горизонтали

// .main {
//   margin-inline: 31.1rem;
// }

.latest {
  @include flex-standard;
  gap: 9rem;
  margin-block: 29.5rem 13.5rem;

  &--block {
    width: 37%;
    position: relative;
  }

  &--pictures {
    gap: 2.4rem;
    height: 41.8rem;
    width: 56%;
    margin-top: 0.6rem;
  }
}

.block {
  &-mini-header {
    &-start {
      @include font-main;
      @include font-bold;
      display: flex;
      align-items: center;
    }

    &--text {
      margin: 0;
    }
  }

  &-header-start {
    @include font-header-h2;
    @include font-bold;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  &-text {
    @include font-main;
    @include font-text;
    margin: 0;
  }

  &-backgroundImage {
    position: absolute;
    right: -3rem;
    bottom: 4rem;
  }
}

.button {
  @include font-main;
  @include font-bold;
  @include flex-standard;
  align-items: center;
  gap: 1rem;
  padding: 1.7rem 3.5rem;
  width: fit-content;
  background-color: #ffffff00;
  border: 1px solid $black;
  cursor: pointer;

  &-latest {
    margin-top: 4.1rem;
  }

  &-arrow {
    transform: rotate(-45deg);
  }

  &-text {
    margin: 0
  }
}

.list-pictures {
  @include list-noStyle;
  @include flex-standard;
}

.picture {
  &-thin {
    width: 26%;
    background-color: $grey;
  }

  &-wide {
    @include flex-column;
    color: $white;
    justify-content: space-between;
    padding: 2.4rem;
    width: 41%;
    background: $gradient-black-grey;
  }

  &-icon {
    display: block;
  }

  &-description--header {
    @include font-bold;
    margin-bottom: 1.3rem;
  }
}

.latest--pictures .picture-description--header {
  @include font-header-h4;
  text-decoration: underline;
}
