@use './colors' as colors;
@use './variables' as vars;

@mixin absolute-filler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin flex-standard {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin animation ($characteristic, $time) {
  -webkit-transition: $characteristic $time ease-in-out;
  -moz-transition: $characteristic $time ease-in-out;
  -o-transition: $characteristic $time ease-in-out;
  transition: $characteristic $time ease-in-out;
}

@mixin animation-all($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin background {
  background-color: colors.$standart-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin font-header-standart {
  font-size: var(--font-header-standart);
  line-height: 1.3;
}

@mixin font-header-small {
  font-size: 24px;
  line-height: 1.4;
}

@mixin font-text-standart {
  font-size: 16px;
  line-height: 1.625;
}

@media (max-width: vars.$width-mobile) {
  :root {
    --font-header-standart: 20px;
  }
}

@media (min-width: vars.$width-tablets-low) and (max-width: calc(vars.$width-tablets-large - 1px)) {

}

@media (min-width: vars.$width-tablets-large) and (max-width: calc(vars.$width-desktop - 1px)) {

}

@media (min-width: vars.$width-desktop) {
  :root {
    --font-header-standart: 32px;
  }
}