@use './colors' as colors;

@mixin absolute-filler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin flex-standard {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin font-bold {
  font-family: "Jost";
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

@mixin font-header-h2 {
  font-size: 5.2rem;
  line-height: 6.2rem;
}

@mixin font-header-h4 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

@mixin font-main {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

@mixin font-text {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
}

@mixin animation ($characteristic, $time) {
  -webkit-transition: $characteristic $time ease-in-out;
  -moz-transition: $characteristic $time ease-in-out;
  -o-transition: $characteristic $time ease-in-out;
  transition: $characteristic $time ease-in-out;
}

@mixin animation-all($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin background {
  background-color: colors.$standart-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}