@use 'colors' as colors;

@font-face {
  font-family: Jost;
  src: url(/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(/fonts/Barlow-Regular.ttf);
}

$shadow: 2px 2px 4px colors.$standart-transp;

$margin-title: 86px;
$margin-section: 160px;
$margin-thin: 148px;
$margin-mobile: 30px;

$font-text-additional: 16px;

$gap-standart: 25px;
$gap-small: 20px;
$gap-mini: 10px;

$border-circle: 50%;
$border-thin: 1px solid;

$font-family-main: "Jost";
$font-family-second: "Barlow";

$width-sm: 480px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1120px;
$width-xxl: 1200px;

:root {
  --header-main-padding: calc(var(--header-logo-width) + 20px) 30px;
}

@media (max-width: $width-sm) {
  :root {
    --header-logo-width: 70%;
    --margin-section: 0;
  }
}

@media (max-width:$width-md) {

}

@media (max-width: $width-lg) {

}

@media (max-width: $width-xl) {

}

@media (min-width: $width-xxl) {
  :root {
    --header-logo-width: 510px;
    --margin-section: 160px;
  }
}
