@use 'colors' as colors;

@font-face {
  font-family: Jost;
  src: url(assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

$shadow: 2px 2px 4px colors.$standart-transp;

$header-logo-width: var(--header-logo-width);
$header-margin: var(--header-margin);
$header-main-padding: calc($header-logo-width + 20px) 30px;

$margin-title: 86px;
$margin-section: 160px;
$margin-thin: 148px;

$font-text-small: var(--font-text-small);
$font-text-additional: 16px;

$gap-standart: 25px;
$gap-small: 20px;
$gap-mini: 10px;

$border-circle: 50%;
$border-thin: 1px solid;

$font-family-main: "Jost";
$font-family-second: "Barlow";

$width-mobile: 480px;
$width-tablets-low: 481px;
$width-tablets-large: 768px;
$width-desktop: 1025px;

@media (max-width: $width-mobile) {
  :root {
    --header-margin: 25px;
    --header-logo-width: 70%;

    --font-text-small: 12px;
  }
}

@media (min-width: $width-tablets-low) and (max-width: calc($width-tablets-large - 1px)) {

}

@media (min-width: $width-tablets-large) and (max-width: calc($width-desktop - 1px)) {

}

@media (min-width: $width-desktop) {
  :root {
    --header-margin: 95px;
    --header-logo-width: 510px;

    --font-text-small: 14px;
  }
}