@use 'colors' as colors;

@font-face {
  font-family: Jost;
  src: url(assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

$shadow: 2px 2px 4px colors.$standart-transp;

$margin-title: 86px;
$margin-section: 160px;
$margin-thin: 148px;

$font-text-small: 14px;
$font-text-additional: 16px;

$gap-standart: 25px;
$gap-small: 20px;
$gap-mini: 10px;

$border-circle: 50%;
$border-thin: 1px solid;

$font-family-main: "Jost";
$font-family-second: "Barlow";