$white: #fff;
$black: #0e0e0e;
$orange: #fb5b11;
$lightgrey: #d9d9d9;
$darkgrey: #0e0e0e;
$grey: #555555;
$transparentgrey: #5555554d;
$transparent: #ffffff00;
$gradient-black-grey: linear-gradient(0deg, $black, $grey);

$title-margin: 86px;

@mixin absolute-filler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin flex-standard {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin font-bold {
  font-family: "Jost";
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

@mixin font-header-h2 {
  font-size: 5.2rem;
  line-height: 6.2rem;
}

@mixin font-header-h4 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

@mixin font-main {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

@mixin font-text {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
}

@mixin animation ($characteristic) {
  -webkit-transition: $characteristic 0.5s ease-in-out;
  -moz-transition: $characteristic 0.5s ease-in-out;
  -o-transition: $characteristic 0.5s ease-in-out;
  transition: $characteristic 0.5s ease-in-out;
}

@mixin animation-all {
  -webkit-transition: all ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin background {
  background-color: $grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}