.intro {
  position: relative;
  background-color: $black;
  background-image: url(assets/img/ivan-bandura-nnY_e2zCVAc-unsplash-2.webp);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      #0e0e0e99 0%,
      #0e0e0e 100%
    );
  }

  &__text, &__image {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__text {
    width: 56%;
    padding-top: 230px;
  }

  &__image {
    padding-top: 54px;
    width: 38%;
    flex-shrink: 0;
    margin-bottom: 76px;
    position: relative;
    display: flex;

    &-char {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}